<h3 style="color: blue;">
    {{ titulo }}
</h3>
<hr>

<!-- two way dusata-bindig -->
<h3>Selector de colores</h3>

<!-- <input type="color" [(ngModel)]="colorSeleccionado">  -->
<input type="text" [(ngModel)]="colorSeleccionado"><br><br>
<button (click)="logColorSeleccionado()">Mostrar en consola</button>
<pre [style.border]='(colorSeleccionado == "red" || colorSeleccionado=="purple") ? "2px solid black" : "2px solid lightblue" '>
    Color seleccionado:
    {{ colorSeleccionado }}
</pre>

<div [ngStyle]="{
    'background': colorSeleccionado,
    'width':'200px',
    'height':'200px',
    'float':'right',
    'margin-right':'69%'
    }">

</div>
<div style="clear:both"></div>
<hr>
<!-- switch -->
<h3>Colores Switch</h3>
<ul [ngSwitch]="color">
    <li *ngSwitchCase='"red"' [ngStyle]="{
            'color': color, 
            'background':'#D99A6A',
            'padding':'10px'
            }"
        >Es de color rojo
    </li>
    <li *ngSwitchCase='"green"' [ngStyle]="{
            'color': color, 
            'background':'#A1EC8D',
            'padding':'10px'
            }"
        >Es de color verde
    </li>
    <li *ngSwitchCase='"blue"' [ngStyle]="{
            'color': color, 
            'background':'#8DD4E4',
            'padding':'10px'
            }"
        >Es de color azul
    </li>
</ul>

<hr>

<strong>Empleado estrella:</strong>
<br><br>
<!-- condicionales -->
<div  *ngIf="trabajadorExterno == true" >
    <button (click)="carbiarExterno(false)">Mostrar Trabajador</button>
    <ul>
        <li>{{ empleado.nombre }}</li>
        <li>{{ empleado.edad }}</li>
        <li>{{ empleado.cargo }}</li>
        <li>{{ empleado.contratado }}</li>
    </ul>         
</div>

<div *ngIf="trabajadorExterno == false" >
    <button (click)="carbiarExterno(true)">Mostar Empleado</button>
    <ul>
        <li>{{ trabajadores[0].nombre }}</li>
        <li>{{ trabajadores[0].edad }}</li>
        <li>{{ trabajadores[0].cargo }}</li>
        <li>{{ trabajadores[0].contratado }}</li>
    </ul> 
</div>

<hr>

<h4>Listado de empleados</h4>
<ul id="trabajadores">
    <!-- for -->
    <li *ngFor="let empleado of trabajadores; let i = index">
        <strong>Empleado {{ i+1 }}: {{ empleado.nombre }}</strong>
        <ul>
            <li>{{ empleado.edad }}</li>
            <li>{{ empleado.cargo }}</li>
            <li>{{ empleado.contratado }}</li> 
        </ul>
    </li>
</ul>

<hr>


